@import 'Colors';

.cassettesContainer {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background-image: url('../Assets/Background-Raster.svg');
    margin-top: 4vh;
}

#searchForm {
    display: none;
}

.bodyContainer{
    display: none;
}

@media (min-width: 780px){

    .bodyContainer{
        display: flex;
    }

    .cassettesContainer {
        margin-left: 15%;
        width: 85%;
    }

    #searchForm {
        display: block;
        width: 67%;
        margin-left:5.8vw;
        margin-top: 2vh;
    }

    input {
        border: none;
        border-bottom: 1px solid gray;
        width: 40%;
        padding: 5px;
    }

    input:active {
        border: none;
        outline:none;
    }

    input:focus {
        border: none;
        outline:none;
        border-bottom: 1px solid gray;
    }

    select {
        margin-left: 100px;
        width: 20%;
        padding: 5px;
    }

    #searchIcon {
        width: 22px;
    }

    
}


