@import 'Colors';

.cassettesContainer {
    transform: rotate(-90deg);
    height: auto;
    display: flex;
    flex-direction: row-reverse;
}


@media (min-width: 780px){

    .cassettesContainer{
        margin-right: 3%;
        padding: 2% 0%;
        width: 64%;
        background-image: url(../Assets/Background-Raster.svg);
        transform: rotate(360deg);
    }

    .cassette{
        margin-right: 5%;
        height: 60vh;
    }

    .last{
        margin-right: 0%;
    }
}

