@import 'Colors';

@media (min-width: 780px){
    .bodyContainer{
        margin-top: 50px;
    }
    #blue {
        width: 220px;
        height: 100px;
        margin: 0 0 0 -20px;
        transform: skew(-13deg);
        background: $blue;
    }
    #red {
        width: 196.5px;
        height: 100px;
        margin: 0 0 0 -20px;
        transform: skew(-13deg);
        background: $red;
    }
    #orange {
        width: 173.5px;
        height: 100px;
        margin: 0 0 0 -20px;
        transform: skew(-13deg);
        background: $orange;
    }
    #yellow {
        width: 150.5px;
        height: 100px;
        margin: 0 0 0 -20px;
        transform: skew(-13deg);
        background: $yellow;
    }
    #pink {
        width: 127.5px;
        height: 100px;
        margin: 0 0 0 -20px;
        transform: skew(-13deg);
        background: $pink;
    }
}
