div {
    background-color: transparent;
    position: relative;
    text-align: center;
}

.cover {
    height: 58vh;
    margin-top: 10px;
    background-color: transparent;
}

.onCoverElement{
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}