// .cassettesContainer{
//     height: 45vh;
// }

// .cassette, .cassette img {
//     height: 34vh;
// }

// .cassetteName{
//     font-size: 9pt;
//     height: 22vh;
// }

.logoImgcluster{
    display: block;
    width: 30vh;
    height: auto;
}

.motionImg, .appImg, .realityImg, .smartImg{
    height: 15vh;
    margin: -6% 0% 4% 15%;
}

.last{
    margin-bottom: 7%;
}