// .cassettesContainer{
//     width: 50%;
// }

.allClusters{
    display: none;
}

@media (min-width: 780px){
    .allClusters{
        display: block;
    }
    
    .logoImgcluster{
        display: block;
        width: 30vh;
        height: auto;
    }
    .motionImg, .appImg, .realityImg, .smartImg{
        height: 15vh;
        margin: 0% 0% 5% 15%;
    }
    
    .motionImg{
        margin-top: -6%;
    }
}
