.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logoFinal{
    width: 25%;
}

.ButtonsNav {
    display: flex;
    flex-wrap: wrap;
    display: none;
}

