@import "Colors";


#winGenomContainer{
    display: block;
    height: 2.5%;
    cursor: context-menu;
}

#selectionGenomOrWins {
    display: flex;
    margin-left: 15%;
}

#selectionGenomOrWins p{
    margin-right: 2em;
    font-weight: 700;
    font-size: 16pt;
}

.activeSelection {
    box-shadow: 0 -2px $blue inset,0 -4px $red inset, 0 -6px $yellow inset;
}