.descriptionCont{
    margin-top: 3%;
    color: white;
    background-color: #7B7B7B;
    width: 43%;
}

.mainInfo, .sideInfo{
    padding: 0% 5%;
}

.heartIcon{
    position: absolute;
    top: 10%;
    z-index: 4;
    right: 5.5%;
}