@import 'colors';

#eindwerk{
    width: 100%;
}

.Web{
    margin: 0%;
    border: 12px solid $blue; 
}
.Motion{
    margin: 0%;
    border: 12px solid $pink; 
}
.Mobile{
    margin: 0%;
    border: 12px solid $yellow; 
}
.Digital{
    margin: 0%;
    border: 12px solid $red; 
}
.Game{
    margin: 0%;
    border: 12px solid $orange; 
}