#eindwerk{
    width: 100%;
}

.Web{
    margin: 0%;
    border: 12px solid #78C6D0; 
}
.Motion{
    margin: 0%;
    border: 12px solid #DFC0F8; 
}
.Mobile{
    margin: 0%;
    border: 12px solid #FDEEB3; 
}
.Digital{
    margin: 0%;
    border: 12px solid #F6B4F1; 
}
.Game{
    margin: 0%;
    border: 12px solid #BBDCCB; 
}