@import 'colors';

header {
    width: 70%;
    margin: auto;
}

#flexNav{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

#flexNav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

#title {
    text-align: center;
    position: absolute;
    top: -4%;
    left: 35%;
    font-weight: 800;
    font-size: 20pt;
}

.gradient-text {
    background-color: $blue;
    background-image: linear-gradient(to bottom, $blue 0%, $blue 45%, $red 46%, $red 50%,  $pink 51%, $pink 55%, $orange 56%, $orange 60%, $yellow 61%, $yellow 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}