@import './SCSS/Colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  background-color: $beige;
  cursor: context-menu;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.routingLinks{
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
}

.stripesSide{
  display: none;
}

@media (min-width: 780px){
  #indexContainer{
    width: 85%;
  }

  .bodyContainer{
    display: flex;
    justify-content: right;
  }

  .stripesSide{
    display: block;
  }
}

